@font-face {
    font-family: 'Chillax-Variable';
    src: url('fonts/Chillax-Variable.woff2') format('woff2'),
         url('fonts/Chillax-Variable.woff') format('woff'),
         url('fonts/Chillax-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Bitter Rose';
    src: url('fonts/Bitter-Rose.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html{
    font-size: 16px;
}

body{
    color: #fff!important;
    font-family: 'Chillax-Variable'!important;
}

.main-content{
    height: 100vh;
}

#left-side{
    z-index: 1;
    position: relative;
    background: url("images/bg-home.png") center/cover no-repeat;
}

#left-side::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.navbar{
    border-radius: 1rem;
    width: fit-content!important;
}

#content h1{
    font-size: calc(7rem + 1.5vw);
}

#content h2{
    
    font-size: calc(2rem + 1.5vw);
}

.btn:hover{
    background-color: #000!important;
}

.active{
    color: #fff!important;
    background-color: #000!important;
    border: none!important;
    border-radius: 5rem!important;
}

.fancy-font{
    font-family: 'Bitter Rose';
    color: #E4A11B!important
}

.menu-btn{
    color: #fff!important;
}

.menu-nav .nav-item{
    padding: 1vw;
    margin: 0 auto;
}

.menu-nav .nav-item .active{
    color: #E4A11B!important;
}

.card{
    color: #fff!important;
    background-color: transparent!important;
}

.card-title{
    display: flex;
    justify-content: space-between;
}

.menu-pic{
    width: 100%;
    height: 9rem;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
}

.menu h2{
    font-size: 4rem;
    color: #E4A11B;
}

.menu-active{
    color: #E4A11B!important;
}

a{
    text-decoration: none!important;
}

.food-0{
    background-image: url("images/toast.png");
}

.food-1{
    background-image: url("images/soup.png");
}

.food-2{
    background-image: url("images/pumpkin.png");
}

.info{
    scrollbar-width: none; /* Firefox için */
    -ms-overflow-style: none;
}

.info::-webkit-scrollbar {
    display: none;
}

.socials i{
    margin: 1rem;
    cursor: pointer;
}

#textInput{
    resize: none;
}

button[type="submit"]:hover {
    color: #fff;
}

.scroll-down {
    opacity: 0;
    z-index: 2;
    height: 14rem;
    width: 7rem;
    border: 0.2rem solid #fff;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 3rem;
    transform: translate(-50%, -50%);
}
.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 2.5rem;
    width: 2.5rem;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 0.2rem solid #fff;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
    animation: scroll-down 1s ease-in-out infinite;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        top: 90%;
        opacity: 0;
    }
}

@media (max-width: 1080px) {
    .main-content {
        height: 100%!important;
        flex-direction: column;
    }
    #left-side{
        height: 100vh!important;
    }

    #left-side, #right-side {
        width: 100%!important;
    }
}

@media (max-width: 400px) {
    #desc-text{
        font-size: 3vw!important;
    }

    #bottom-header{
        font-size: 10vw!important;
    }
}